<table style="width:100%" border="1|0">
   <%= will_paginate %>
  <tr>
      <th><%= sortable('id', 'id', 'relationships') %></th>
      <th><%= sortable('created_at', 'created_at', 'relationships') %></th>
      <th><%= sortable('updated_at', 'updated_at', 'relationships') %></th>
      <th><%= sortable('follower_id', 'Follower_id (user)', 'relationships') %></th>
      <th><%= sortable('followed_id','Followed_id (ticket)', 'relationships') %></th>
      <th>action</th>
  </tr>
     <%= render @relationships %>
</table>