%h1
  Settings
%h2
  Change contact details
= form_for(@user, url: user_path(@user)) do |f|
  = f.label :name
  = f.text_field :name, autocomplete: "on" , class: 'form-control'

  = f.label :phone
  = f.number_field :phone, autocomplete: "on" , class: 'form-control'

  = f.submit 'Update' , class: "btn btn-primary", id: 'change-contact-details'

    
%h2
  Change email
= form_for(@user, url: { action: "update_email" } ) do |f|
  
  = f.label :email
  = f.email_field :email, autocomplete: "on" , class: 'form-control'


  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for:
      = resource.unconfirmed_email

  = f.submit "Update", class: "btn btn-primary",  id: 'change-email'

%h2
  Change password
= form_for(@user, url: { action: "update_password" } ) do |f|
     

  = f.label :password
  = f.password_field :password, autocomplete: "off", class: 'form-control'
  - if @minimum_password_length
    %br
    %em
      = @minimum_password_length
      characters minimum
    

  = f.label :password_confirmation 
  %br
  = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'

  
  = f.label :current_password
  %i
    (we need your current password to confirm your changes)
  %br
  = f.password_field :current_password, class: 'form-control'

  = f.submit "Update", class: "btn btn-primary",  id: 'change-password'
 
  %h2
    Cancel my account
  = button_to "Cancel my account", registration_path(resource_name),  id: 'cancel', class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete
