%table.table.table-striped.table-bordered.table-list
  %tbody
    -search = @search
    %tr
      %br 
        Id:
        = search.id
      - if search.keywords.present?
        %br 
          Keywords:
          = search.keywords
      - if search.in_content?
        %br searched in content 
      - if search.with_picture?
        %br only with picture 
      - if search.location_keywords.present?
        %br 
          Location: 
          = search.location_keywords
      - if search.category_id.present?
        %br 
          Category:
          = Category.find(search.category_id).text
      - if search.minimum_price.present?
        %br 
          Price from: 
          = search.minimum_price
      - if search.maximum_price.present?
        %br 
          Price to:
          = search.maximum_price
      - if search.type_of_ticket.present?
        %br 
          Type of ticket: 
          = search.type_of_ticket
      %br 
        Created at:
        = search.created_at
      %br 
        Updated_at:
        = search.updated_at
      %hr
      = link_to "delete", admin_search_path(search), method: :delete, class: "btn btn-danger"
      %hr
