  <tr class="admin-tr">
      <td class="admin-td"><%= link_to search.id, admin_search_path(search) %></td>
      <td class="admin-td"><%= link_to search.created_at, admin_search_path(search) %></td>
      <td class="admin-td"><%= link_to search.updated_at, admin_search_path(search) %></td>
      <td class="admin-td"><%= link_to search.user_id, admin_user_path(search.user)  %></td>
      <td                 ><%= link_to 'delete', admin_search_path(search), method: :delete %></td>
  </tr>

