<% provide(:title, 'All searches') %>
<h1>All searches</h1>
<table style="width:100%" border="1|0">
   <%= will_paginate %>
  <tr>
      <th><%= sortable('id', 'id', 'searches') %></th>
      <th><%= sortable('created_at', 'created_at', 'searches') %> </th>
      <th><%= sortable('updated_at', 'updated_at', 'searches') %></th>
      <th><%= sortable('user_id', 'user_id', 'searches') %> </th>
      <th>action</th>
  </tr>
     <%= render @searches %>
</table>
<%= will_paginate %>
