    <tr>
       <td class="hidden-xs"><%= image_tag ticket.picture.url, size: 120 if ticket.picture? %></td>
       <td><%= link_to ticket.title, ticket_path(ticket) %>
         <br><%= ticket.category.main.text %> > <%= ticket.category.text%>
         <br><%= ticket.location %>
         <br>Added <%= time_ago_in_words(ticket.created_at) %> ago.
         <br>
         <% if current_user == ticket.user %>
           <%= link_to "delete", ticket, method: :delete %>
           <%= link_to "edit", edit_ticket_path(ticket) %>
             <% unless ticket.activated? %>
               This ticket is non active
             <% end %>
         <% else %>
            <% @ticket = ticket %>
           <%= render 'tickets/follow_form' %>
         <% end %>
       </td>
       <td><%= ticket.price %></td>
       </td>
    </tr>



   