<table style="width:100%" border="1|0">

     <%= will_paginate @tickets %>

  <tr>
      <th><%= sortable('id', 'id', 'tickets') %></th>
      <th><%= sortable('title', 'title', 'tickets') %> </th>
      <th><%= sortable('price', 'price', 'tickets') %></th>
      <th><%= sortable('ticket_type', 'ticket_type', 'tickets') %> </th>
      <th><%= sortable('location', 'location', 'tickets') %> </th>
      <th><%= sortable('picture', 'picture', 'tickets') %></th>
      <th><%= sortable('created_at', 'created_at', 'tickets') %> </th>
      <th><%= sortable('updated_at', 'updated_at', 'tickets') %> </th>
      <th><%= sortable('activated', 'activated', 'tickets') %> </th>
      <th><%= sortable('activated_at', 'activated_at', 'tickets') %> </th>
      <th><%= sortable('category', 'category_id', 'tickets') %></th>
      <th><%= sortable('user_id', 'user_id', 'tickets') %></th>
      <th>action</th>
  </tr>
     <%= render @tickets %>
</table>

  <%= will_paginate @tickets %>
