<div class="gr" >
<%= form_for(:search, url: searches_path(:search)) do |f| %>
  <div class="col-6">
    <% unless @user_id.nil? %>
      <%= f.hidden_field(:searched_user, value: @user_id) %>
    <% end %>
    <%= f.text_field :keywords, placeholder: " add keywords here..." %>
    <%= f.text_field :location_keywords, placeholder: " Location "  %>
    <%= f.label :category_id %>
    <% if @pre_select.nil? %>
      <%= f.collection_select(:category_id, Category.all, :id, :text,
                                      include_blank: true) %>
    <% else %>
      <%= f.collection_select(:category_id, Category.all, :id, :text,
                                      include_blank: true, selected: @pre_select) %>
    <% end %>

    <%= f.label :type_of_ticket %>
    <%= f.select :type_of_ticket, [['paper ticket', 'paper ticket'], ['eTicket', 'eTicket']], include_blank: true %>
  </div>
  
  <%= f.check_box(:in_content) %>
  <%= f.label(:in_content, "Search in content") %>
  
  <%= f.check_box(:with_picture) %>
  <%= f.label(:with_picture, "Only with picture") %>
  <br>
  <%= f.text_field :minimum_price, :size => 7, placeholder: "price from"  %> -
  <%= f.text_field :maximum_price, :size => 7, placeholder: "price to" %>
  <p><p>
  <%= f.submit "Search" %> (add_to_followed)
  </p></p>
<% end %>
</div>