= render 'searches/search_form'
%h5
  Sort by: 
  = sortable('activated_at', 'latest', 'tickets')
  = sortable('price', 'price', 'tickets')
= @category.text 
= link_to 'edit', edit_admin_category_path(@category)
= link_to 'delete', admin_category_path(@category), method: :delete
%div.panel.panel-default.panel-table
  %div.panel-heading
    %div.row
      %div.col.col-xs-6
        %h3.panel-title 
          = link_to 'All categories', categories_path
          |
          - if @category.main?
            = @category.text
            >>
            - @category.subcategories.each do |subcategory|
              = link_to subcategory.text, admin_category_path(subcategory)
          - else
            = link_to(@category.main.text, admin_category_path(@category.main))
            <<
            = @category.text
      
  %div.panel-body
    = render 'admin/tickets/ticket_columns'