= render 'searches/search_form'
%h5
  Sort by:
  = sortable('activated_at', 'latest', 'tickets')
  = sortable('price', 'price', 'tickets')
%div.panel.panel-default.panel-table
  %div.panel-heading
    %div.row
      %div.col.col-xs-6
        %h3.panel-title
          = link_to 'All categories', categories_path
          |
          - if @category.main?
            = @category.text
            >>
            - @category.subcategories.each do |subcategory|
              = link_to subcategory.text, category_path(subcategory)
          - else
            = link_to @category.main.text, category_path(@category.main)
            <<
            = @category.text
  %div.panel-body
    %table.table.table-striped.table-bordered.table-list
      %tbody
        = render @tickets
  = will_paginate @tickets
